.idea
.DS_Store
*~
/sigstore-go
/tufdata
/conformance
/pkg/tuf/testing.local.json
/examples/oci-image-verification/oci-image-verification
/examples/sigstore-go-signing/sigstore-go-signing
/examples/sigstore-go-verification/sigstore-go-verification
/.vscode
