# Copyright 2025 The Sigstore Authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: "E2E tests"

on:
  push:
    branches: [main]
  pull_request: {}

permissions:
  contents: read

jobs:
  e2e:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
          fetch-tags: true
          persist-credentials: false
      - name: Free up disk space
        run: |
          rm -rf /host_usr/share/dotnet || true
          rm -rf /host_usr/share/swift || true
          rm -rf /host_usr/local/lib/android || true
          rm -rf /host_usr/local/.ghcup || true
          rm -rf /host_usr/local/graalvm/ || true
          rm -rf /host_usr/local/share/powershell || true
          rm -rf /host_usr/local/share/chromium || true
          rm -rf /host_usr/local/lib/node_modules || true
          rm -rf /host_usr/lib/google-cloud-sdk || true
          rm -rf /host_usr/local/share/boost || true
          rm -rf /host_opt/hostedtoolcache/ || true
          rm -rf /host_opt/ghc || true
      - name: Install Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: go.mod
      - name: Set up Sigstore
        uses: sigstore/scaffolding/actions/setup-sigstore-env@main
      - name: Run e2e tests
        run: go test -v -tags=e2e ./test/e2e
